Source: ros-humble-rqt-top
Section: misc
Priority: optional
Maintainer: Dan Lazewatsky <dan@lazewatsky.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: http://wiki.ros.org/rqt_top
Standards-Version: 3.9.2

Package: ros-humble-rqt-top
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-psutil, ros-humble-python-qt-binding (>= 0.2.19), ros-humble-rclpy, ros-humble-rqt-gui, ros-humble-rqt-gui-py, ros-humble-ros-workspace
Description: RQT plugin for monitoring ROS processes.
