Source: ros-eloquent-rqt-top
Section: misc
Priority: extra
Maintainer: Dan Lazewatsky <dan@lazewatsky.com>
Build-Depends: debhelper (>= 9.0.0), ros-eloquent-ament-cmake, ros-eloquent-ros-workspace
Homepage: http://wiki.ros.org/rqt_top
Standards-Version: 3.9.2

Package: ros-eloquent-rqt-top
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-psutil, ros-eloquent-python-qt-binding (>= 0.2.19), ros-eloquent-rclpy, ros-eloquent-rqt-gui, ros-eloquent-rqt-gui-py, ros-eloquent-ros-workspace
Description: RQT plugin for monitoring ROS processes.
